[mysqld]
basedir=/opt/mysql-8.4.7-macos15-arm64
datadir=/rig/mysql/data
port=33110
bind-address=127.0.0.1
socket=/rig/mysql/mysql.sock
mysqlx=OFF
pid-file=/rig/mysql/mysqld.pid
log-error=/rig/mysql/mysqld.err
default-time-zone='+00:00'
max_connections=400
innodb_buffer_pool_size=256M
log_bin_trust_function_creators=1
